<section class="page_content">

    <div class="wrapper">
        <section id="secretarial">

            <h2>
                CORPORATE SECRETARIAL <span>SERVICES</span>
            </h2>

            <p ng-repeat="item in data.items">
                {{ item.p }}
            </p>

            <ul>
                <li ng-repeat="staff in data.personnel">
                    <div class="contact-info">
                        <img ng-src="images/{{staff.image}}"/>
                        <p><span>O:</span> {{ staff.o }}</p>
                        <p><span>M:</span> {{ staff.m }}</p>
                        <p><span>F:</span> {{ staff.f }}</p>
                        <p><span>E:</span><a href="mailto:{{ staff.e }}?subject=Your+subject+here"> {{ staff.e }}</a></p>
                    </div>

                    <div class="description">
                        <h3>{{ staff.name }}, <span>Corporate Services</span></h3>
                        <p>{{ staff.description }}</p>
                    </div>
                    <div class="hr clear"></div>

                </li>

            </ul>

        </section>


        <aside class="side-pull-right" ng-include="sideURL"></aside>


    </div>

</section>
