#secretarial
{

    padding: 0 20px 0 10px;
    width: 660px;
    float: left;
    text-align: justify;
    text-align-last:center;
    /* for IE9 */
    -ms-text-align-last:left;
}


#secretarial h2
{
    width: 660px;
    height:50px;
    text-align: center;
    color: #283a88;
    margin: 0 0 30px 0;
    padding:0;
    display: block;
    font-weight: normal;
    background-position: 0px bottom;
    background-repeat: no-repeat;
    background-image: url(../images/section_h2_bottom_bg.png);
}

#secretarial h2 span
{
    color: #f8971d;

}

#secretarial h3
{
    color: #283a88;
    padding:0;
    margin: 0;
    display: block;
    font-weight: normal;

}

#secretarial p
{
    color: #666666;
    font-size: 12px;
    margin: 0px 0 15px 0;
    padding: 0;
}

#secretarial p.highlight
{
    color: #283a88;
    font-size: 14px;
    line-height: 1.3em;
    padding-bottom: 5px;
}



#secretarial ul
{
    margin: 0;
    padding: 0;
}


#secretarial li
{
    clear: both;
    display: block;
    margin: 0;
    padding: 0;

}

#secretarial h4
{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    color: #000000;

}

#secretarial ul.bullet
{
    font-size: 12px;
    margin-bottom: 15px;
}

#secretarial ul.bullet li
{
    color: #666666;
    margin-left: 20px;
    font-size: 12px;
    list-style-type: disc;
    display: list-item;
}



#secretarial div.contact-info
{
    float: left;
    margin: 0;
    padding: 0;
}


#secretarial div.contact-info p
{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 11px;
}


#secretarial div.contact-info span
{
    color: #f8971d;
}

#secretarial div.contact-info img
{
    display: block;
    padding-bottom: 10px;
}

#secretarial div.description
{
    float: right;
    width: 410px;
    margin: 0;
    padding: 0;
}

#secretarial div.description h3
{
    margin: 0 0 10px 0;
    padding: 0;
    color: #283a88;
}

#secretarial div.description h3 span
{
    margin: 0;
    padding: 0;
    color: #f8971d;
}

#secretarial div.description p
{
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 12px;
}



#secretarial div.contact-info .v-card
{
    padding-top: 10px;
}
